.musa{
    background-image: url(https://media.viez.vn/prod/2022/8/28/appleevent_sep14keynote_tim_cook_01_1d49030ee9.webp);
    background-size: 100% ;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    
    
    
}

